#competances{
    position: relative;
    height: 120vh;
    background-color: #06a77d;
}
.all{
    display: flex;
    height: 100%;
}
#competances img{
    width: 40vw;
    height: 100%;
}
.head_div{
    padding-top: 30px;
   text-align: center;
    
}
.bars_side hr{
    border-top: 4px solid gray;
    margin: 0 320px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 10px;
}
.bars_side h1{
    color: #0A0A25;
    font-family: Poppins;
    font-size: 4em;
    padding-top: 30px;
}
.container{
    display: flex;
    margin: 0;
    justify-content: space-between;
    background-color: gray;
    
    padding: 3px 5px;
    border-radius: 5px;
}
.icon_name{
    display: flex;
    gap: 10px;
    color: white;
    font-weight: 600;
}
.bar{
    text-align: right;
    color: white;
    font-weight: 700;
}
.bars{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 30px;
    
    width: 100%;
    align-items: flex-start;
}
.cssbar{
    width: 70%; 
}
.htmlbar{
    width: 75%;
}
.bootstrapbar{
    width: 70%;
}
.jsbar{
    width: 70%;
}
.reactbar{
    width: 75%;
}
.phpbar{
    width: 75%;
}
.laravelbar{
    width: 70%;
}
.mysqlbar{
    width: 77%;
}

@media  screen and (max-width:985px) {
    .all{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    #competances{
        height: 170vh;
    }
    
}
@media  screen and (max-width:  700px) {
    .all{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
}